

<h2>Crear Examen</h2>

<form action="/Examen/Crear" method="post">

    <div class="form-group">
        <label>Tema</label>
        <select class="form-control" name="TemaId">
            <option value="">-- Seleccione una opcion --</option>
            @foreach(var item in ViewBag.Temas)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
        @Html.ValidationMessage("TemaId")
    </div>

    <div class="form-group">
        <label>Nro de Preguntas</label>
        <input type="text" class="form-control" name="nroPreguntas"  />
        @Html.ValidationMessage("nroPreguntas")
    </div>
   

    <button class="btn btn-primary">Guardar</button>
    <a class="btn btn-link" href="/Examen/Index">Cancelar</a>
</form>
